.receta__boton {
  color: #fdfdfd;
  border: none;
  background-color: #DA2B1F;
  border-radius: 5px;
  padding: 1rem;
  transition: all .1s ease-in-out;
}

.receta__boton:hover {
  cursor: pointer;
  background: #9F1010;
}

.receta__boton:active {

  padding: .75rem;
}